[*.cs]

# IDE0011: Aggiungi parentesi graffe
csharp_prefer_braces = when_multiline

# IDE0021: Usa il corpo del blocco per i costruttori
csharp_style_expression_bodied_constructors = when_on_single_line:none

# IDE0022: Usa il corpo del blocco per i metodi
csharp_style_expression_bodied_methods = when_on_single_line:none

# IDE0021: Usa il corpo dell'espressione per i costruttori
dotnet_diagnostic.IDE0021.severity = none

# IDE0022: Usa il corpo dell'espressione per i metodi
dotnet_diagnostic.IDE0022.severity = none
